@mixin shadow-top-inset($opacity) {
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0 , $opacity);
  -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0 , $opacity);
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0 , $opacity);
}
@mixin shadow-bottom-and-top-inset($opacity) {
  -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,$opacity), inset 0px -11px 8px -10px rgba(0,0,0,$opacity);
  -moz-box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,$opacity), inset 0px -11px 8px -10px rgba(0,0,0,$opacity);
  box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,$opacity), inset 0px -11px 8px -10px rgba(0,0,0,$opacity);
}