.contact-list-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: 100px auto 0;
    .contact-list-header {
        margin: 0;
        display: flex;
        margin: 0;
        padding: 0;
        &__item {
            background-color: #fff;
            border: solid;
            border-width: 1px;
            border-color: #e0e0e0;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            span {
                display: inline;
                font-size: $cl-font-h3;
                sub {
                    font-size: $cl-font-h6;
                    position: relative;
                    top: 5px;
                }
            }
            &--disabled {
                span {
                    opacity: 0.5;
                }
            }
            &--active {
                @include shadow-top-inset(0.4);
                border-bottom: none;
            }
        }
    }
    .contact-list {
        // background: #eeeeee;
        border: solid;
        border-width: 0 1px 1px 1px;
        border-color: #e0e0e0;
        border-radius: 0 0 10px 10px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        padding: map-get($spacers, 4);
        &__item {
            border-bottom: dotted 2px #e0e0e0;
            break-inside: avoid;
            padding:map-get($spacers , 2 ) ;
            &:nth-last-child(1) {
                border: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-list-container {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        flex-direction: initial;
        .contact-list-header {
            display: block;
            width: 35%;
            z-index: 99;
            direction: rtl;
            height: 100%;
            overflow: scroll;
            &__item {
                border-radius: 0;
                border-width: 0px 1px 1px 0;
                direction: ltr;
                padding-left: 15px;
                &--active{
                    background: #f7f7f7;
                    border-bottom:solid 1px #e0e0e0;
                    border-right: 2px solid #282828;
                }
                span {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .contact-list {
            width: 65%;
            height: 100%;
            overflow: scroll;
            columns: unset;
            -webkit-columns: unset;
            -moz-columns: unset;
            border: none;
            padding:map-get($spacers, 2);
            &__item{
                padding:15px 10px ;
            }
        }
    }
}
